:root {
  /* #8973c8  */
  --color-login: #fff;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/images/civ-background-main3.jpg") no-repeat center;
  background-size: cover;
}

.wrapper {
  width: 42rem;
  background: rgb(51, 51, 51, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--color-login);
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 3.6rem;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 40px;
  font-size: 1.6rem;
  color: var(--color-login);
  padding: 20px 45px 20px 20px;
}

.input-box input:focus {
  box-shadow: 0 0 20px rgba(28, 27, 27, 0.5);
}

.input-box input::placeholder {
  color: var(--color-login);
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 1.45rem;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: var(--color-login);
  margin-right: 0.3rem;
}

.remember-forgot a {
  color: var(--color-login);
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 4.5rem;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.6rem;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 1.45rem;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: var(--color-login);
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* LOGO */
.image-container {
  position: absolute;
  top: 3%;
  left: 7%;
  height: 10rem;
  width: 10rem;
}

.image-container img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10rem;
  width: 10rem;
  transition: opacity 0.25s;
}

.image-container .top {
  opacity: 0;
}

.image-container:hover .top {
  opacity: 1;
  transition: opacity 0.45s;
}
