@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('./fonts/Heebo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('./fonts/Heebo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url('./fonts/Yantramanav-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style-type: none;
}

:root {
    /* f7f8fd #ebedf9*/
    --color-light: #ebedf9;
    --color-dark: #333;
    --color-gray-light: #ebedf9;
    --color-litle-gray: #fbfbfe;
    --color-donate: #5637b0;
    --font-family-base: 'Lato', sans-serif;
    --font-family-nobase: 'Yantramanav', sans-serif;
    --container-width: 1300px;
    --container-padding-x: 15px;
    --primary-color: #8973c8;
    --transition-duration: 0.2s;
}

:focus {
    outline: 0;
}

a,
button,
input,
textarea,
svg *{
    transition-duration: var(--transition-duration);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }

body {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.75;
    background-color: var(--color-light);
    position: relative;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x)*2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    padding-inline: 3.2rem;
    background-color: var(--color-gray-light);
    min-height: 9rem;
}

.header-menu {
    display: flex;
    align-items: center;
    column-gap: 4rem;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 4.5rem;
}

.header-menu-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 0.7rem;
    height: 21px;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: 1.2px;
    color: var(--color-dark);
    transition: all 0.3s;
}

.logo-link {
    display: flex;
    align-items: center;
    font-weight: 700;
    flex-shrink: 0;
    letter-spacing: 1px;
    text-align: center;
    font-size: 2rem;
    color: #1a1a1a;
}

.header-menu-link:hover,
.header-menu-link:active {
    color: var(--color-donate);
}

.header-link-donate {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    padding-inline: 0.7rem;
    font-size: 1.8rem;
    height: 4.5rem;
    width: 13rem;
    color: var(--color-donate);
    background: transparent;
    border: 1px solid var(--color-donate);
    border-radius: 50px;
}

.header-link-donate:hover {
    box-shadow: 0 0 6px var(--color-donate);
    text-shadow: rgb(86, 55, 176, 0.4) 1px 0 10px; 
}

.color-yellow {
    fill: var(--color-donate);
}

.calculate, .info-text {
    padding-block: 9rem;
    background: var(--color-litle-gray);
    color: #333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    font: inherit
}

.pb9 {
    padding-bottom: 9rem;
}

.h2 {
    margin-top: 3.2rem;
    color: #8973c8;
    font-size: 4.2rem;
    line-height: 5rem;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}


.p {
    color: #333;
    font-size: 1.6rem;
    line-height: 1.5;
}

.foto {
    box-shadow: 0 12px 24px 0 rgb(86, 55, 176, 0.4);
}

.mb10 {
    margin-bottom: 1rem;
}

.mb16 {
    margin-bottom: 1rem;
}

.hg6 {
    height: 6rem;
}

.br50 {
    border-radius: 50%;
}

.br3 {
    border-radius: 3rem;
}

.h2-explanation {
    margin-top: 0.5rem;
    color: #8973c8;
    font-size: 4.2rem;
    line-height: 5rem;
    letter-spacing: -0.5px;
    margin-bottom: 1.6rem;
}

.wd70 {
    width: 90%;
}

.mt8 {
    margin-top: 0.8rem;
}

.footer-soc1als-list {
    display: flex;
    column-gap: 1.8rem;
  }

.footer-soc1als-link {
    display: flex;
    width: 2.4rem;
}

.footer-soc1als-item {
    height: 2.4rem;
}

.footer-soc1als-link:link, .footer-soc1als-link:visited {
    fill: #333;
}

.footer-soc1als-link:hover, .footer-soc1als-link:active {
    fill: #8973c8;
}

.shadow-box {
    box-shadow: 0 12px 24px 0 rgb(86, 55, 176, 0.4);
}

.footer {
    --footerLogoWidth: 20.77%;
  }

.footer-extra {
  padding-block: 15px;
  background-color: var(--color-dark-alternate);
}

.footer-extra-inner {
    display: flex;
    justify-content: center;
}

.footer-copyright {
    font-size: 14px;
    display: flex;
    column-gap: 0.3rem;
}

.purple {
    color: #5637b0;
}

.text-align {
    text-align: center;
}