<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CivKA</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/tech-problem-styles.css" />
    <link
            rel="shortcut icon"
            href="/images/title-foto3.png"
            type="image/x-icon"
    />
</head>
<body>
<div class="flex-column">
    <img
            src="/images/technical-works.jpg"
            alt="tech works weird black baby"
            width="80"
            height="80"
            class="tech-image foto"
    />
    <h2 class="h2-dead">САЙТ НА ТЕХНІЧНОМУ ОБСЛУГОВУВАННІ</h2>
    <p class="p2-dead">
        Адміністрація потребує часу для вирішення проблем на сайті, завітайте
        пізніше, якщо вам скучно - повчіть щось. Гарного дня!
    </p>
</div>
</body>
</html>