<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="/multiply-result-styles.css">
</head>
<body>
    <div class="main">

        <p>1) Вчіть теорію :)</p>

        <br>

        <p>2) Номер залікової книжки:</p>
        <p>
            <span th:text="${labData.creditNumber}"></span><sub>10</sub>  ,  <span th:text="${labData.creditNumberBinary}"></span><sub> 2</sub>
            => <span th:each="tempA, iterationStat : ${labData.getA(7)}" th:utext="'a<sub>' + ${iterationStat.index + 1} + '</sub> = ' + ${tempA} + ' , '"></span>
        </p>

        <br>

    <p>3) Визначити два двійкових числа: <i>F</i> = 1<i>a</i><sub>7</sub><i>a</i><sub>6</sub><i>a</i><sub>5</sub><i>a</i><sub>4</sub>1 i
        <i>G</i> = 1011<i>a</i><sub>3</sub><i>a</i><sub>2</sub><i>a</i><sub>1</sub>1.
        <br>
        Записати <i>F</i> i <i>G</i> через кому, надати числу знак « – ». Одержане двійкове від'ємне число має
        вигляд <i>X</i> = - <i>F</i>, <i>G</i> = - 1<i>a</i><sub>7</sub><i>a</i><sub>6</sub><i>a</i><sub>5</sub><i>a</i><sub>4</sub>1,
        1011<i>a</i><sub>3</sub><i>a</i><sub>2</sub><i>a</i><sub>1</sub>1.
        <br>
        <br>
        <i>F</i> = <span th:text="${F}"></span>
        <br>
        <i>G</i> = <span th:text="${G}"></span>
        <br>
        <i>X</i> = - <i>F</i>, <i>G</i> = <span th:text="${X.binaryNumber}"></span>
    </p>

    <p>4) Одержане двійкове число <i>X</i> з природною фіксованою комою записати у
        15-розрядну сітку в машинних кодах: прямому, доповняльному і
        оберненому
    </p>

    <table>
        <tbody>
            <tr>
                <td>[<i>X</i>]<sub>ПК</sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.getStraightCode())}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
            <tr>
                <td>[<i>X</i>]<sub>ОК</sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.getReverseCode())}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
            <tr>
                <td>[<i>X</i>]<sub>ДК</sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.getAdditionalCode())}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <p>5) Подати модифіковані коди (доповняльний і обернений) у 16-розрядній
        сітці.
    </p>

    <table>
        <tbody>
            <tr>
                <td>[<i>X</i>]<sub>ОК</sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.getModifyReverseCode())}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
            <tr>
                <td>[<i>X</i>]<sub>ДК</sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.getModifyAdditionalCode())}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <p>6) Виконати арифметичний зсув одержаних модифікованих кодів числа <i>X</i>
        на один розряд ліворуч і на один розряд праворуч. Перевірити
        переповнення розрядної сітки.
    </p>

    <br>

    <p>Зсув [<i>X</i>]<sub>ОК</sub>:</p>
    <p class="mb0"><i>Вліво</i></p>
    <table>
        <tbody>
            <tr>
                <td class="text-align-left">[<i>X</i>]<sub>ОК</sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.getModifyReverseCode())}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
            <tr>
                <td class="text-align-left">[<i>X</i>]<sub>ОК <</sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.leftShift('ОК'))}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>Переповнення <span th:text="${X.getModifyReverseCode().charAt(0) == '0'} ? 'не ' : ''"></span>відбувається.</p>

    <br>

    <p>Зсув [<i>X</i>]<sub>ОК</sub>:</p>
    <p class="mb0"><i>Вправо</i></p>
    <table>
        <tbody>
            <tr>
                <td class="text-align-left">[<i>X</i>]<sub>ОК</sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.getModifyReverseCode())}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
            <tr>
                <td class="text-align-left">[<i>X</i>]<sub>ОК ></sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.rightShift())}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>Переповнення не відбувається.</p>

    <br>

    <p>Зсув [<i>X</i>]<sub>ДК</sub>:</p>
    <p class="mb0"><i>Вліво</i></p>
    <table>
        <tbody>
            <tr>
                <td class="text-align-left">[<i>X</i>]<sub>ДК</sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.getModifyAdditionalCode())}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
            <tr>
                <td class="text-align-left">[<i>X</i>]<sub>ДК <</sub></td>
                <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.leftShift('ДК'))}">
                    <span th:text="${temp}"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>Переповнення <span th:text="${X.getModifyAdditionalCode().charAt(0) == '0'} ? 'не ' : ''"></span>відбувається.</p>

    <br>

    <p>Зсув [<i>X</i>]<sub>ДК</sub>:</p>
    <p class="mb0"><i>Вправо</i></p>
    <table>
        <tbody>
        <tr>
            <td class="text-align-left">[<i>X</i>]<sub>ДК</sub></td>
            <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.getModifyAdditionalCode())}">
                <span th:text="${temp}"></span>
            </td>
        </tr>
        <tr>
            <td class="text-align-left">[<i>X</i>]<sub>ДК ></sub></td>
            <td th:each="temp : ${T(com.civka.calculatordemo.utils.MachineCodeUtil).toTableCode(X.rightShift())}">
                <span th:text="${temp}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <p>Переповнення не відбувається.</p>

    <br>

    <p>7) Одержати доповняльний та обернений коди числа
        <br>
        <i>Y</i> = <i>X</i> + 101<i>a</i><sub>4</sub><i>a</i><sub>3</sub>,1<i>a</i><sub>2</sub><i>a</i><sub>1</sub>10
        <br>
        <i>X</i> = <span th:text="${X.getBinaryNumber()}"></span>
    </p>
    <div class="add">
        <div class="block1">
            <p class="mb0">[<i>Y</i>]<sub>ОК</sub> = </p>
            <p class="mb0">[<i>Y</i>]<sub>ДК</sub> = </p>
        </div>
        <div class="block2">
            <p class="mb0">
                <span th:text="${X.getModifyReverseCode()}"></span><br>
                <span>+ <u><span th:text="${appToY.getModifyReverseCode()}"></span></u></span><br>

                <span th:if="${!oldY.equals('')}">
                    <span th:text="${oldY}"></span><br>
                    <span>+<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </u></span><u>1</u><br>
                </span>

                <span th:text="${Y.getModifyReverseCode()}"></span><br>
                <span th:text="${Y.getModifyAdditionalCode()}"></span><br>
            </p>
        </div>
    </div>

    <br>

    <p>8) Виконати підсумовування 𝑈 = 𝑋 + 𝑌 в доповняльних і обернених
        кодах.
    </p>
    <div class="add">
        <div class="block1">
            <p class="mb0">[<i>U</i>]<sub>ОК</sub> = </p>
        </div>
        <div class="block2">
            <p class="mb0">
                <span th:text="${X.getModifyReverseCode()}"></span><br>
                <span>+ <u><span th:text="${Y.getModifyReverseCode()}"></span></u></span><br>
                
                <span th:if="${!oldU.equals('')}">
                    <span th:text="${oldU}"></span><br>
                    <span>+<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </u></span><u>1</u><br>
                </span>

                <span th:text="${U.getModifyReverseCode()}"></span>
            </p>
        </div>
    </div>
    <br>
    <div class="add">
        <div class="block1">
            <p class="mb0">[<i>U</i>]<sub>ДК</sub> = </p>
        </div>
        <div class="block2">
            <p class="mb0">
                <span th:text="${X.getModifyAdditionalCode()}"></span><br>
                <span>+ <u><span th:text="${Y.getModifyAdditionalCode()}"></span></u></span><br>

                <span th:text="${U.getModifyAdditionalCode()}"></span>
            </p>
        </div>
    </div>

    <br>

    <p>9) Виконати підсумовування 𝑁 = 𝑋 + (− 𝑌) в доповняльних і обернених
        кодах.
        <br>
        <br>
        [-<i>Y</i> ]<sub>ОК</sub> = [-<i>Y</i> ]<sub>ДК</sub> = [-<i>Y</i> ]<sub>ПК</sub>
        = <span th:text="${minusY.getModifyReverseCode()}"></span>
    </p>
    <div class="add">
        <div class="block1">
            <p class="mb0">[<i>N</i>]<sub>ОК</sub> = </p>
        </div>
        <div class="block2">
            <p class="mb0">
                <span th:text="${X.getModifyReverseCode()}"></span><br>
                <span>+ <u><span th:text="${minusY.getModifyReverseCode()}"></span></u></span><br>

                <span th:if="${!oldN.equals('')}">
                    <span th:text="${oldN}"></span><br>
                    <span>+<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </u></span><u>1</u><br>
                </span>

                <span th:text="${N.getModifyReverseCode()}"></span>
            </p>
        </div>
    </div>
    <br>
    <br>
    <div class="add">
        <div class="block1">
            <p class="mb0">[<i>N</i>]<sub>ДК</sub> = </p>
        </div>
        <div class="block2">
            <p class="mb0">
                <span th:text="${X.getModifyAdditionalCode()}"></span><br>
                <span>+ <u><span th:text="${minusY.getModifyAdditionalCode()}"></span></u></span><br>

                <span th:text="${N.getModifyAdditionalCode()}"></span>
            </p>
        </div>
    </div>

    </div>
</body>
</html>