<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавити роль</title>
    <link rel="shortcut icon" href="/images/title-foto3.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/admin-styles.css">
</head>

<body>
<header class="header">
    <ul class="header-menu-list left-header">
        <li class="header-menu-item">
            <a th:href="@{/}" class="logo-link">
                <img
                        src="/images/logo-44.png"
                        alt="Civka Logo"
                        class="header-logo-image"
                        width="80"
                        height="80"
                        loading="lazy"
                />
            </a>
        </li>
        <li class="header-menu-item">
            <a th:href="@{/calculate}" class="header-menu-link">Розрахунок</a>
        </li>
        <li class="header-menu-item">
            <a th:href="@{/#news}" class="header-menu-link">Новини</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')" class="header-menu-item">
            <a style="color: #8973c8" th:href="@{/admin}" class="header-menu-link">Панель керування</a>
        </li>
    </ul>
    <ul class="header-menu-list right-header">
        <li class="header-menu-item">
            <a
                    href="https://send.monobank.ua/jar/8mtbdEWgid"
                    class="head-link header-link-donate"
                    target="_blank"
            >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="svg-nav"
                >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                    />
                </svg>
                Підтримати
            </a>
        </li>
        <li class="header-menu-item" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}" class="head-link header-link-login">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="user-nav svg-nav"
                >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
                    />
                </svg>
                Логін
            </a>
        </li>
        <li class="header-menu-item" sec:authorize="isAuthenticated()">
            <a href="#" class="head-new-user-nav plumbum"
            ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="user-logined svg-nav">
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                />
            </svg>

                <span th:text="${userNickname}"></span></a>
            <form th:action="@{/logout}" method="POST">
                <input type="submit" class="visually-hidden" id="logout-button">
                <label for="logout-button" class="head-new-user-nav2 plumbum">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="user-exit svg-nav">
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"
                        />
                    </svg>
                </label>
            </form>
        </li>
    </ul>
</header>
<script src="/scripts/scroll-nav.js"></script>
<main class="content">

    <div class="container main">

        <h3>Ролі</h3>

        <hr>

        <p class="h4 mb-4">Добавити роль</p>

        <form th:action="@{/admin/saveWebUserAuthority}" th:object="${webUserAuthority}" method="POST">

            <label>
                Логін
                <input type="text" th:field="*{id.username}" class="form-control mb-4 w-100" placeholder="Логін">
            </label>

            <br>

            <label>
                Роль
                <input type="text" th:field="*{id.authority}" class="form-control mb-4 w-100" placeholder="ROLE_*РОЛЬ*">
            </label>

            <br>

            <button type="submit" class="btn btn-info col-2">Добавити</button>

        </form>

        <hr>

        <a style="color: #5637b0; text-decoration: underline" th:href="@{/admin}">Назад до панелі</a>

    </div>
</main>

<footer class="footer">
    <div class="footer-extra">
        <div class="footer-extra-inner container">
            <div class="footer-copyright">
                © <time datetime="2024">2024</time> <p class="p">CivKA.</p> <p class="p">Ми не відповідальні за ваші оцінки. Сайт створений лише з метою перевірки знань та звірення відповідей.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
